body{
    background-color: #efefef;
}

.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    height: 38px;
    width: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    color: #999;
}
.error-message{
    margin-top: 9%;
    margin-left: 20%;
}

.comment{
    margin: 10px 0;
}

.comment-btn{
    float: right;
    margin-bottom: 10px;
}
.comment-sp{
    margin-top: 0;
}

.menu{
    color: #999;
    margin-top: 5px;
}

.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover{
    color: #499ef3;
}

.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.question_title{
    margin-top: 25px;
}